body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  width: 800px;
  margin: 100px auto;
  text-align: center;
}

.table{
  margin: 40px 0;
}

.table td:first-child{
  text-align: left;
}

.table td:last-child{
  width: 200px;
  text-align: right;
}

.table i {
  margin: 0 5px;
  cursor: pointer;
}

.status-active {
  color:#ffb400;
}

.customer-filters{
  font-size: 10px;
}

.customer-filters input {
  margin: 0 5px 0 15px;
}
